* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    /* Обновленный стек шрифтов для идеального отображения в WebView */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    letter-spacing: -0.1px; /* Делает шрифт более собранным и премиальным */
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--tg-bg-color);
    color: var(--tg-text-color);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app-container {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.screen {
    flex: 1;
    display: none;
    overflow-y: auto;
    background-color: var(--tg-bg-color);
}

.screen.active {
    display: flex;
    flex-direction: column;
}
